/*Required for operation of ng-cloak directive (alternative is to
load angular in <head> section).*/

.ng-cloak_ {
    display: none !important;
 }

.site li {
    line-height: 3em;
}

.site span.lister-price {
    font-size: 1.4em;
    font-weight: 666;
}
