<div>
    <h2>Choose your lunch...</h2>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="product in vm.products">
            <div class="row">
                <div class="col-md-5">
                    <span>{{product.description}}</span>
                </div>
                <div class="col-md-1">
                    <span class="lister-price">{{product.price | currency:'£' }}</span>
                </div>
                <div class="col-md-3 pull-right">
                    <button class="btn btn-primary pull-right" ng-click="vm.addToBasket(product)">Add to basket</button>
                </div>
            </div>
        </li>
    </ul>
  </div>